.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.932861;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.932861;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.907471;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:56.000000px;}
.yd{bottom:1.001999px;}
.y0{bottom:20.000000px;}
.yb{bottom:404.422012px;}
.ya{bottom:423.334030px;}
.y9{bottom:500.578014px;}
.y8{bottom:522.326023px;}
.y7{bottom:544.074020px;}
.y6{bottom:565.822021px;}
.y5{bottom:599.570019px;}
.y4{bottom:621.544022px;}
.y3{bottom:643.616020px;}
.y2{bottom:665.364021px;}
.y1{bottom:703.188026px;}
.yc{bottom:759.250025px;}
.h3{height:14.549999px;}
.h2{height:41.042969px;}
.h1{height:814.000000px;}
.h0{height:841.900024px;}
.w2{width:71.499999px;}
.w1{width:502.500000px;}
.w0{width:595.299988px;}
.x6{left:14.444000px;}
.x0{left:44.000000px;}
.x3{left:56.700001px;}
.x2{left:113.400002px;}
.x4{left:262.250004px;}
.x1{left:336.546009px;}
.x5{left:475.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:74.666667pt;}
.yd{bottom:1.335999pt;}
.y0{bottom:26.666667pt;}
.yb{bottom:539.229350pt;}
.ya{bottom:564.445374pt;}
.y9{bottom:667.437352pt;}
.y8{bottom:696.434697pt;}
.y7{bottom:725.432027pt;}
.y6{bottom:754.429362pt;}
.y5{bottom:799.426692pt;}
.y4{bottom:828.725362pt;}
.y3{bottom:858.154694pt;}
.y2{bottom:887.152028pt;}
.y1{bottom:937.584035pt;}
.yc{bottom:1012.333367pt;}
.h3{height:19.399999pt;}
.h2{height:54.723958pt;}
.h1{height:1085.333333pt;}
.h0{height:1122.533366pt;}
.w2{width:95.333332pt;}
.w1{width:670.000000pt;}
.w0{width:793.733317pt;}
.x6{left:19.258666pt;}
.x0{left:58.666667pt;}
.x3{left:75.600001pt;}
.x2{left:151.200002pt;}
.x4{left:349.666672pt;}
.x1{left:448.728012pt;}
.x5{left:633.333334pt;}
}
